body {
    background-color: #78cedf;
}
hr {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(3, 3, 3);
    border-width: 5px;
    width: 10%;
}
h1 {
    background-color: none;
    color: #db539e;
}
h3 {
    color: #db539e;
}