body {
    background-color: #b0d9e1eb;
}
hr {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(122, 121, 121);
    border-width: 10px;
    width: 10%;
}
h1 {
    background-color: none;
    color: #ea71b4;
}
h3 {
    color: #44c7de;
}